{% extends './base.html' %}
{% load static %}
{% block title %}SNS投稿・新規作成{% endblock %}
{% block content %}
    <div class="col-lg-7 border order-2">
        ▶SNS 新規・投稿作成<br/>
        {{ comment_formset }}
        <hr/>
        <form method="POST" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_non_field_errors }}
            <table class="table table-bordered table-sm table-striped">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary btn-sm">送信</button>
        </form>
        <br/>
    </div>
{% endblock %}
