{% extends './base.html' %}
{% load static %}
{% block title %}Todo新規作成{% endblock %}
{% block content %}
    <div class="col-lg-7 border order-2">
        ▶Todo 新規作成
        <hr/>
        <form method="POST" action="{% url 'todo:todo_create' %}">
            {% csrf_token %}
            {{ form_non_field_errors }}
            <table class="table table-bordered table-sm table-striped">
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-primary btn-sm">送信</button>
        </form>
        <br/>
    </div>
{% endblock %}
