<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="btn-group mr-2" role="group" aria-label="login-logout">
            <a class="navbar-brand"  href="{% url 'home' %}">Django Lesson</a>
            <a role="button" class="btn  btn-sm btn-primary" href="{% url "account_login" %}">ログイン</a>
            <a role="button" class="btn  btn-sm btn-secondary" href="{% url "account_logout" %}">ログアウト</a>
        </div>
        <form class="d-flex">
            <div class="btn-group" role="group" aria-label="login-user">
              <button type="button" class="btn btn-sm btn-success">LoginUser</button>
              <button type="button" class="btn btn-sm btn-outline-success">
                  {% if user.is_authenticated %}
                    {{ user.get_username }}
                    {% else %}-
                  {% endif %}
              </button>
            </div>
            <input class="form-control mr-3" type="search" placeholder="検索ワードの入力" aria-label="検索">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div>　</div>
        <div class="col-lg-2 order-1">
            <div class="list-group">
                {% block todo_menu %}
                    <a href="{% url 'todo:todo_index' %}" class="list-group-item list-group-item-action">
                        <img src="/static/bootstrap-icons/icons/layout-text-window-reverse.svg" alt="" width="24"
                             height="24"/>
                        　Todo
                    </a>
                {% endblock %}

                {% block sns_menu %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <img src="{% static 'bootstrap-icons/icons/shop.svg' %}" alt="" width="24" height="24"/>
                        　SNS - Post</a>
                {% endblock %}

                <a href="#" class="list-group-item list-group-item-action">
                    <img src="{% static 'bootstrap-icons/icons/diagram-3.svg' %}" alt="" width="24" height="24"/>
                    　メニュー3</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="{% static 'bootstrap-icons/icons/person-plus.svg' %}" alt="" width="24" height="24"/>
                    　メニュー4</a>
                <a href="#" class="list-group-item list-group-item-action">
                    <img src="{% static 'bootstrap-icons/icons/envelope.svg' %}" alt="" width="24" height="24"/>
                    　メニュー5</a>
            </div>
        </div>
        {% block content %}
            <div class="col-lg-7 border order-2">
                センター・コンテンツ
            </div>
        {% endblock %}
        <div class="col-lg-3 order-3">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">情報1</li>
                    <li class="list-group-item">情報2</li>
                    <li class="list-group-item">
                        <div class="card">
                            <div class="card-header">
                                ヘッダー Base-base-Template
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">タイトル</h5>
                                <p class="card-text">説明文</p>
                                <a href="#" class="btn btn-primary">リンク先ボタン</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>　
</div>
<div class="border g-2">
    <div class="border">
        <div class="row justify-content-md-center">
            &copy2020 Happy IT Semi
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>


