{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="col-lg-7 border order-2">
        <a href="{% url 'todo:todo_index' %}" class="btn btn-primary">Todo一覧</a>
        <hr>
        <img src="/static/images/django-cover.png" class="img-fluid" alt="django-start">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><hr><img src="/static/images/画面遷移図.png" class="img-fluid" alt="django-start"><br/>設計・情報1：画面遷移図
            </li>
            <li class="list-group-item"><hr><img src="/static/images/django-table.png" class="img-fluid" alt="django-start"><br/>設計・情報2：テーブル図
            </li>
        </ul>
    </div>
{% endblock %}




