{% extends './base.html' %}
{% load static %}
{% block title %}SNS一覧{% endblock %}
{% block content %}
    <div class="col-lg-7 border order-2">
        SNS・コメント一覧 ▶[{{ me }}]<br/>
        {% if messages %}
            {% for message in messages %}
                {{ message }}<br/>
            {% endfor %}
        {% endif %}
        <hr/>
        <a role="button" class="btn  btn-sm btn-outline-primary" href="{% url "sns_comment:sns_comment_create" %}">コメント投稿</a>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <hr/>
        {% for sns in object_list %}
            <div class="card" style="width: 22rem;">
                <h6 class="card-title">
                    <img src="/static/bootstrap-icons/icons/person-plus.svg" alt="" width="16" height="16"/>
                    @{{ me }}<a href="{% url 'sns_comment:detail' sns.pk %}"> {{ sns_comment.comment }} </a>
                    {{ sns_comment.updated_at|date:"Y-m-j" }}</h6>
                <!-- div class="card-body" -->
                <p class="card-text">{{ sns.description }}</p>
                <div class="float-sm-right">
                <div class="btn-group float-sm-right" role="group" aria-label="button-group1">
                    <div><a href="#" class="badge bg-secondary">Link先</a></div>&nbsp;
                    <div><a href="{% url 'sns:sns_update' sns_comment.pk %}" class="badge bg-secondary">更新</a></div>&nbsp;
                    <div><a href="{% url 'sns:sns_delete' sns_comment.pk %}" class="badge bg-secondary">削除</a></div>
                </div>
                </div>
                <!-- /div -->
                {% if sns.post_image != null %}
                    <img src="/media/{{ sns.post_image }}" class="card-img-top" alt="'post-image"/>
                {% endif %}
                <div class="btn-group" role="group" aria-label="button-group2">
                    <button type="button" class="btn btn-sm btn-success">
                        いいね <span class="badge bg-warning">200</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-info">
                        コメント <span class="badge bg-warning">4</span>
                    </button>
                </div>
                <div>　</div>
            </div>
        {% endfor %}
        <br/>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                        {% if page_obj.number == num %}
                            <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <br/>

    </div>
{% endblock %}
